@model IEnumerable<Club>
    



@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-dismiss="alert">
            <span></span>
            <span>&times;</span>
        </button>
    </div>

}

<section class="jumbotron text-center">

    <div class="container">
        <h1 class="jumbotron-heading">RunGroops Clubs</h1>
        <p class="lead text-muted"><b>Find the best running groups in the Tampa Bay area.</b></p>

        <p>
            <a class="btn btn-lg btn-primary" role="button" asp-area="" asp-controller="Club" asp-action="Create">Create a new Club</a>
        </p>
    </div>

   

</section>


<div class="album py-5 bg-light">
    <div class="container">
                <div class="row">

            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width = "100% "alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><b>@item.Title</b></p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="btn btn-success" asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a type="btn btn-success" asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }

                               </div>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
